ion-content{
    // --background: #fff url('../../../assets/images/static-page.jpg') no-repeat center center / cover;
    color: #fff;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
}
// .logo{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
// }
// ion-toolbar {
//     --background: transparent;
//     --ion-color-base: transparent !important;
// }
// ion-toolbar.sc-ion-back-button-md-h:not(.ion-color):not(.ion-color), ion-toolbar:not(.ion-color) .sc-ion-back-button-md-h:not(.ion-color){
//     color: #666;
// }
// p {
//     color: #666;
// }

