<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div class="logo">
          <img src="../../assets/images/infidia-new.png" alt="Infidia">
        </div> 
        <div padding>
          <ion-item class="ion-margin-top input-box" lines="none">
            <ion-input type="email" placeholder="Email"></ion-input>
          </ion-item>
  
        </div>
        <ion-fab  horizontal="center" class="ion-margin-top">
          <ion-fab-button color="danger">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
  
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
