<ion-content class="ion-padding ion-text-center">
  <div class="logo">
    <img src="../../assets/images/infidia-new.png" alt="Infidia">
  </div>
  <p>Enter Your OTP Code</p>
  <form (ngSubmit)="OTPVerified()" [formGroup]="otpForm">
    <div class="login-form">
      <ion-row class="justify-content-center">
        <ion-item class="ion-no-padding" color="blank">
          <ion-input type="tel" maxlength="1" formControlName="otp1" onfocus="this.value=''" #tel1 (keyup)="next(tel2, $event)">
          </ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" color="blank">
          <ion-input type="tel" maxlength="1" formControlName="otp2" onfocus="this.value=''" #tel2 (keyup)="next(tel3, $event)" (keydown)="back(tel1, tel2, $event)">
          </ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" color="blank">
          <ion-input type="tel" maxlength="1" formControlName="otp3" onfocus="this.value=''" #tel3 (keyup)="next(tel4, $event)" (keydown)="back(tel2, tel3, $event)">
          </ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" color="blank">
          <ion-input type="tel" maxlength="1" formControlName="otp4" onfocus="this.value=''" #tel4 (keyup)="next(tel5, $event)" (keydown)="back(tel3, tel4, $event)">
          </ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" color="blank">
          <ion-input type="tel" maxlength="1" formControlName="otp5" onfocus="this.value=''" #tel5 (keyup)="next(tel6, $event)" (keydown)="back(tel4, tel5, $event)">
          </ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" color="blank" style="margin-right: 0">
          <ion-input type="tel" maxlength="1" formControlName="otp6" onfocus="this.value=''" #tel6 (keyup)="next(null, $event)" (keydown)="back(tel5, tel6, $event)">
          </ion-input> 
        </ion-item>    
      </ion-row>
      <ion-button expand="full" color="light" type="submit">VERIFY</ion-button>
    </div>
  </form>
  <p>Don't Recived Code? {{ timeOutBtn ? '' : 'Retry in '+ counterVal +'s.'}}</p>
  <ion-button full color="light" (click)="timeoutOnButtonClicked('text')" [disabled]="!timeOutBtn">Resend Code</ion-button>
  <ion-button full color="light" (click)="timeoutOnButtonClicked('voice')" [disabled]="!timeOutBtn">Verify via call</ion-button>
</ion-content>
